.signin-header::before{
    position: absolute;
    left: 0;
    right: 0;
    height: 95%;
    background: #4ea403;
    background: #05963d url('../assets/Banner/bg-white-banner.png') 0 0 repeat;
    background: url('../assets/Banner/bg-white-banner.png'), radial-gradient(ellipse at top, #05b24a 0, #05963d 60%);
    overflow: hidden;
    border-bottom-right-radius: 100rem 5rem;
    border-bottom-left-radius: 100rem 5rem;
    box-shadow: inset rgba(9, 108, 46, .76) 0 -2.3rem 10.7rem;
    z-index: 1;
    content: '';
}


.bg-img{
    background: url('../assets/Banner/bg-start-signup.png');
    background-size: 1469px auto;
    background-repeat: no-repeat;
    width: 100% !important;
    height: 90vh;
    z-index: 9999;
    position: relative;  
}
.signheader-logo{
    text-align: center;
   
}

.signheader-logo img{
    width: 260px;
    margin-top: 20px;
}

.shadow-bt{
    position: relative;
    padding: .1rem 0 2rem;
    max-width: 108rem; 
    min-height: 500px;
    background-color: #fff;
    border-radius: 3rem;
    box-shadow: rgba(136, 130, 128, .5) 0 47px 66px -47px;
    margin-top: 10px;
}



.btn2 .button1{
    height: 48px;
    min-width: 140px;
    border-radius: 4px;
    background-color: #33B621;
    color: #ffff;
    border: none;
    text-transform: uppercase;
    font-weight: 600;
}



.btn-signup{
    margin-top: 70px;
    height: 50px;      
}

.lefform{
    padding-top: 30px;
    width: 70%;
    background: #fff;
    box-shadow: rgba(0, 0, 0, .25) 11px 0 16px -15px;
    padding-right: 26px;
}


.copyright-regis{
    margin-top: 140px;
}


.aap-logo-footer{
    background: rgba(143,112,102,.05);
    background-image: url(../assets/slider/slider-bg.png);
    width: 100%;
    background-size: cover;
    padding: 50px 0px 50px 0px;
}

.copyright-footer{
    font-size: 18px;
    line-height: 27px;
    color: rgb(70, 97, 138);
    font-weight: 400;
}


.copyright-regis{
    margin-top: 290px;
}

.copyright-footer a{
    color: #33B621;
}



